* { 
  box-sizing: border-box;
}

body {
  background-color:forestgreen;
  /* height: 25vh; */
}
.controls-wrapper {
display: flex;
justify-content: space-evenly;
background: red;
}
.start {
  height: 5;
}
.grid-wrapper {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-color: white;
}

.grid div {
  border:1px solid grey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.frog {
  background-image: url('/Users/admin/development/projects/project-1/JackedFrog.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.road {
  background-color: grey;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.carLaneOne {
  background-image: url('/Users/admin/development/projects/project-1/carLaneOne.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.carLaneTwo {
  background-image: url('/Users/admin/development/projects/project-1/carLaneTwo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.carLaneThree {
  background-image: url('/Users/admin/development/projects/project-1/carLaneThree.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.logLaneOne {
  background-image: url('/Users/admin/development/projects/project-1/logLaneOne.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  background-color: blue;
  background-position: center;
}

.grid div.logLaneTwo {
  background-image: url('/Users/admin/development/projects/project-1/logLaneTwo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  background-color: blue;
}

.grid div.logLaneThree {
  background-image: url('/Users/admin/development/projects/project-1/logLaneThree.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  background-color: blue;
  background-position: center;
}

.grid div.riverLaneOne {
  /* background-image: url('/Users/admin/development/projects/project-1/riverLaneOne.jpg'); */
  background-color: blue;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* .grid div.riverLaneTwo {
  background-image: url('/Users/admin/development/projects/project-1/riverLaneTwo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.riverLaneThree {
  background-image: url('/Users/admin/development/projects/project-1/riverLaneThree.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
} */