* { 
  box-sizing: border-box;
}

body {
  
}
.grid-wrapper {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border:1px solid grey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.frog {
  background-image: url('/Users/admin/development/projects/project-1/JackedFrog.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.carLaneOne {
  background-image: url('/Users/admin/development/projects/project-1/carLaneOne.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.carLaneTwo {
  background-image: url('/Users/admin/development/projects/project-1/carLaneTwo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.carLaneThree {
  background-image: url('/Users/admin/development/projects/project-1/carLaneThree.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}